version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name: pcp_postgres
    restart: always
    environment:
      POSTGRES_DB: pcp_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: